<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="LanguageTool.WordAddin.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="LanguageTool.WordAddin.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <LanguageTool.WordAddin.Properties.Settings>
            <setting name="localStorageFileName" serializeAs="String">
                <value>localTemplates.json</value>
            </setting>
            <setting name="serverBaseURL" serializeAs="String">
                <value>https://nick-landlord.assistantbroker.com/ajax/language_library_ajax.php?action=get_data_for_onlyoffice_plugin&amp;user_id=</value>
            </setting>
        </LanguageTool.WordAddin.Properties.Settings>
    </applicationSettings>
    <userSettings>
        <LanguageTool.WordAddin.Properties.Settings>
            <setting name="userID" serializeAs="String">
                <value />
            </setting>
        </LanguageTool.WordAddin.Properties.Settings>
    </userSettings>
</configuration>